<footer class="footer mt-auto py-3 bg-light">
    <div class="container" style="text-align: center;">
        <hr>
        <span class="text-muted">&copy;Todos direitos reservados <strong style="color: #32CD32;">SIGMA PRL</strong>.</span>
        <br>
        <span class="text-muted">Application Developer: <strong style="color: #32CD32;">KIOOPOL</strong></span>
        <br>
        <span class="text-muted">
            <strong>2022</strong>
        </span>
        </div>
</footer>