
<div class="m-4">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand"><h1><i class="fa-brands fa-strava fa-1x"></i> SIGMA</h1></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/index" class="nav-link"><i class="fa-solid fa-house"></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cadastro" class="nav-link"><i class="fa-solid fa-user-plus"></i> Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a href="/users" class="nav-link"><i class="fa-solid fa-users-gear"></i> Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a href="bot-telegram" class="nav-link"><i class="fa-solid fa-robot"></i> Bot Telegram</a>
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <i class="fa-solid fa-user-gear fa-2x"></i>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="/perfil-edit" class="dropdown-item" style="color: green;"><i class="fa-regular fa-pen-to-square"></i> Editar Dados</a>
                            
                            <a href="#" class="dropdown-item" style="color: red;"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>    
</div>
{{!-- <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/index" class="nav-link {{#if NavActiveCad}} active {{/if}}" aria-current="page">Cadastrar</a></li>
        <li class="nav-item"><a href="/users" class="nav-link {{#if NavActiveUsers}} active {{/if}}">Listar Usuários</a></li>
        <li class="nav-item"><a href="/send-signal" class="nav-link {{#if NavActiveSignal}} active {{/if}}">Enviar Sinal(BOT)</a></li>
    </ul>
</header> --}}